<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!doctype html>
<html>
<head><meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <title></title>
    <style type="text/css">@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
            @media only screen and (max-width: 520px){
                .messagePerson{ display: none; }
                .messageQuote{ display: none; }
                .messageHeader{ padding-left: 0px; }
                .messageText{ padding-left: 0px; }
            }
    </style>
</head>
<body  bgcolor="#eaeaea" style="font: 0.625em/1.4 Lato, Helvetica, Arial, sans-serif;margin: 0;padding: 0; background-color:#eaeaea;">
<div style="width: 100%;min-width: 500px;margin: 0 auto;">
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" summary="Leading Information. Newsletter, Volume 4, Issue 2.">
    <tbody>
        <tr style="padding: 0;border: 0;">
            <td style="padding: 0;border: 0;">
            <table id="innerTable" style="border: 0;border-spacing: 0;width: 100%;background: #fff;border: 1px solid #ccc;margin: 5% auto;width: 80%;min-width: 450px;">
                <tbody>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="header" style="border: 0;border-spacing: 0;width: 100%;color: #fff;background: #2480ba url(https://raw.githubusercontent.com/thalida/ostem/master/template/header-blue.png) no-repeat center center;text-align: center;padding: 45px;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><img alt="oSTEM Logo" class="ostemLogo" src="https://raw.githubusercontent.com/thalida/ostem/master/template/ostemLogoWhite.png" style="max-width: 100%;" /></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;">
                                    <div class="title" style="font-size: 3.0em;margin-top: 10%;margin-bottom: 2%;">Executive Newsletter</div>

                                    <div class="volume" style="font-size: 1.4em;font-weight: 700;text-transform: uppercase;opacity: 0.5;">October 2014:&nbsp;&nbsp;Volume 4&nbsp;&nbsp;|&nbsp;&nbsp;Issue 3</div>
                                    <a class="ostemLink" href="http://ostem.org" style="background: #0a081a;border-radius: 50px;color: #fff;display: block;font-size: 1.8em;margin: 9% auto 6%;padding: 4% 0;text-decoration: none;width: 45%;">Visit ostem.org</a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><a class="socialLink" href="https://www.facebook.com/ostem.incorporated" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="facebook" src="https://raw.githubusercontent.com/thalida/ostem/master/template/facebook.png" /></a> <a class="socialLink" href="#" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="twitter" src="https://raw.githubusercontent.com/thalida/ostem/master/template/twitter.png" /></a> <a class="socialLink" href="http://www.linkedin.com/groups?home=&amp;gid=3355374" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="linkedin" src="https://raw.githubusercontent.com/thalida/ostem/master/template/linkedin.png" /></a> <a class="socialLink" href="https://plus.google.com/u/0/communities/110273314235644325568" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="googleplus" src="https://raw.githubusercontent.com/thalida/ostem/master/template/googleplus.png" /></a></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table style="border: 0;border-spacing: 0;width: 100%;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td colspan="3" id="border" style="padding: 0;border: 0;background: url(https://raw.githubusercontent.com/thalida/ostem/master/template/mailpattern.png) repeat;height: 25px;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="message" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 45px;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0; vertical-align:top;"><img class="messagePerson" src="https://raw.githubusercontent.com/thalida/ostem/master/template/Thalida-Noel.png" style="vertical-align: top;height: 100px;margin-right: 30px;width: 100px;" /></td>
                                    <td style="padding: 0;border: 0;"><span class="messageQuote" style="color: #e9e9e9;display: block;font: 700 8.0em ‘Times New Roman’, serif;height: 60px;letter-spacing: -2px;margin-top: -15px;">&ldquo;</span> <span class="messageHeader" style="color: #222222;font-size: 1.6em;font-weight: 700;padding-left: 7%;">Greetings {FIRST_NAME|members, alumni, mentors, and sponsors},</span>
                                    <p class="messageText" style="color: #222222;font-size: 1.6em;padding-left: 7%;">
                                    My name is Thalida, I'm a Front-end Developer and designer in NYC. Earlier this year oSTEM posted a position for an Outreach Intern; I'm pleased to announce that I was accepted and am now a part of the National Board.
                                    <br /><br />
                                    I started my journey with oSTEM in college, where I was the Vice-President of oSTEM@Capitol-College. I met many wonderful people along the way, and after I left college I wanted to continue to contribute to oSTEM... so here I am!
                                    <br /><br />
                                    I have big ideas of what I would like to accomplish in this role, and if any of you have any suggestions and/or ideas please do get in touch with me at: thalida.noel@ostem.org.
                                    <br /><br />
                                    I'm looking forward to seeing many of you in two weeks at the 4th National Conference!
                                    <br /><br />
                                    <span class="italics" style="font-style: italic;">Thalida Noel<br />
                                    Outreach Intern </span>
                                    </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="featured" style="border: 0;border-spacing: 0;width: 100%;background: #43ab3b;color: #fff;padding: 45px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredTitle" style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;">Conference Registration Now Open!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredText" style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;">All of us at oSTEM Incorporated are proud to announce that oSTEM&rsquo;s 4th National Annual Conference is a joint conference, hosted with the National Organization of Gay and Lesbian Scientists and Technical Professionals (NOGLSTP), and their Out to Innovate 2014 Summit.<br />
                                    <br />
                                    Registration is now open for our 2014 joint conference, being held in Atlanta, Georgia on November 7-9. Register soon! Conference registrations for oSTEM students will increase to $50 after October 1.<br />
                                    <br />
                                    There will be 30 breakout sessions with 6 concurrent workshops at a time! This year&rsquo;s summit will include presentations from many notable champions of and examples of LGBT diversity in STEM including:
                                    <ul style="text-align: left;">
                                        <li>Tam O&rsquo;Shaugnessy, Co-founder and CEO of Sally Ride Science</li>
                                        <li>Lynn Conway, pioneering electrical engineer</li>
                                        <li>Kei Koizumi, Assistant Director, Federal Research and Development, White House Office of Science and Technology Policy</li>
                                        <li>LaDoris &ldquo;Dot&rdquo; Harris, Director of the Office of Economic Impact and Diversity at the United States Department of Energy</li>
                                        <li>Donna Riley, Program Director at National Science Foundation and Professor of Engineering Education at Virginia Tech</li>
                                        <li>Jack Andraka, Recipient of the 2012 Gordon E. Moore Award at the Intel International Science and Engineering Fair</li>
                                        <li>Archie Ervin, Vice President of Institute Diversity for Georgia Institute of Technology</li>
                                    </ul>
                                    Attending sponsors for oSTEM include Danaher, Genentech, GoDaddy, Google, GM, Alcoa, Raytheon, Lockheed Martin, Central Intelligence Agency, BASF, Capitol One, and Goldman Sachs. Other sponsors include Battelle Memorial Institute, The Clorox Company, Coca-Cola, Johnson &amp; Johnson, and Savannah River Nuclear Solutions.</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><a class="featuredLink" href="http://www.ostem.org/conference-2014" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Learn more!</a><br />
                                    <a class="featuredLink" href="registration.ostem.org" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Registration</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- BEGIN SECONDARY SECTION -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;"><!-- BEGIN SECONDARY TABLE -->
                        <table id="secondary" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 40px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0; vertical-align:top;width:50%;"><!-- BEGIN SECONDARY ITEM TABLE -->
                                    <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 45px;width: 90%;">
                                        <tbody>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">oSTEM Visits the US Air Force Academy</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryText" style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;">oSTEM recently visited the US Air Force Academy in Colorado Springs to tour the campus, meet with LGBT cadets, and learn about the Academy&rsquo;s mission. With the recent repeal of the Don&rsquo;t Ask, Don&rsquo;t Tell policy, LGBT individuals serving in our armed forces are now free to identify openly among their colleagues...</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td style="padding: 0;border: 0;"><a class="secondaryLink" href="https://www.ostem.org/articles/2014/08/ostem-visits-us-air-force-academy" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">Continue Reading</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--END SECONDARY ITEM TABLE --></td>
                                    <td style="padding: 0;border: 0; vertical-align:top;width:50%;"><!-- BEGIN SECONDARY ITEM TABLE -->
                                    <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 45px;width: 90%;">
                                        <tbody>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">Funding to Attend the 2014 National Meeting</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryText" style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;">oSTEM and NOGLSTP are pumped to offer travel funds and scholarships to the 2014 National Meeting + OUT to Innovate. NOGLSTP Scholarships must be submitted before September 15th. oSTEM has limited funds for travel and will begin dispersing funds in early September. The 2014 National Meeting page provides additional information on budgeting and planning your trip, as well as the latest in travel fund and scholarship information.</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td style="padding: 0;border: 0;"><a class="secondaryLink" href="http://goo.gl/csZhNu" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">NOGLSTP Scholarship Form</a> <a class="secondaryLink" href="http://goo.gl/yaVgK" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">oSTEM Travel Fund Form</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--END SECONDARY ITEM TABLE --></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END SECONDARY TABLE --></td>
                    </tr>
                    <!-- END SECONDARY SECTION -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="featured2" style="border: 0;border-spacing: 0;width: 100%;background: #3bab8a;color: #fff;padding: 45px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredTitle" style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;">Submit Posters Now for the National Conference</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredText" style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;">Want to present your work at the 2014 National Conference? Submit your poster abstract by Sept. 5 to be included in the poster session for students and postdocs. Posters on academic, technical, and chapter leadership topics are welcome. Eight of the poster abstracts will be selected for 10-minute flash presentations of their work at the conference, and the best posters will be recognized at the conference banquet Saturday. Get yours in today!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><a class="featuredLink" href="http://ostem.org/2014rfp" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Submit a Poster!</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- BEGIN SECONDARY SECTION -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;"><!-- BEGIN SECONDARY TABLE -->
                        <table id="secondary2" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 40px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0; vertical-align:top;width:50%;"><!-- BEGIN SECONDARY ITEM TABLE -->
                                    <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 45px;width: 90%;">
                                        <tbody>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">Feedback &amp; Ideas!</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryText" style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;">If you have any ideas and/or suggestions for how oSTEM can better serve the needs of all of you, or just want to checkout what we have in the pipelines, then please visit our uservoice page, and share your voice with us!</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td style="padding: 0;border: 0;"><a class="secondaryLink" href="https://ostem.uservoice.com" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">UserVoice Feeback Form</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--END SECONDARY ITEM TABLE --></td>
                                    <td><!-- BEGIN SECONDARY ITEM TABLE -->
                                    <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 45px;width: 90%;">
                                        <tbody>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">Call for Award Nominations</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryText" style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;">This year, we will be doing a few shout-outs and giving awards to chapters and members for being awesome. However, WE NEED YOUR HELP! Nominate your chapter, peers or a chapter sponsor and tell us why they should receive an award. You can nominate multiple times, so don&rsquo;t worry if you can&rsquo;t make up your mind on who you should nominate!</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td style="padding: 0;border: 0;"><a class="secondaryLink" href="http://www.ostem.org/award-nominations" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">Submit a nomination</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--END SECONDARY ITEM TABLE --></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END SECONDARY TABLE --></td>
                    </tr>
                    <!-- END SECONDARY SECTION -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="featured3" style="border: 0;border-spacing: 0;width: 100%;background: #3ba2ab;color: #fff;padding: 45px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredTitle" style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;">Facebook Group for the oSTEM Trans Working Group</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredText" style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;">Based on discussions from the 2013 National Conference, oSTEM now has a Facebook group dedicated to its trans members! It will allow you to better connect with one another, and with the TWG leadership.<br />
                                    <br />
                                    Although we greatly value the work done by our cis allies, we ask that only trans and non-binary identified people join this group. As we are just starting up, it will be a Closed group, meaning that if you are a member of the group your name will be visible, but your posts will not. This will make it easier to find as we build the group. After this year&rsquo;s National Conference we&rsquo;ll have a discussion on whether a Closed group continues to meet your needs, or if we should change it to a Secret group where no one can see your name on the group.<br />
                                    <br />
                                    We&rsquo;re looking forward to getting to know you better!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><a class="featuredLink" href="https://www.facebook.com/groups/ostem.twg/" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Visit Group</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- BEGIN EVENTS SECTION  -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;"><!-- BEGIN EVENTS TABLE  -->
                        <table id="events" style="border: 0;border-spacing: 0;width: 100%;border-spacing: 30px 0;border-collapse: separate;background: #1b84ce;color: #fff;padding: 5% 3%;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="eventsTitle" colspan="2" style="padding: 0;border: 0;font-size: 1.6em;font-weight: 700;padding-bottom: 3%;text-align: center;text-transform: uppercase;">Upcoming Events</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="eventItem" style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;"><span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Sept. 5</span> <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">Poster Session Deadline</span></td>
                                    <td class="eventItem" style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;"><span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Sept. 15</span> <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">NOGLSTP Scholarship Deadline</span></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="eventItem" style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;"><span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Nov. 7 - 9</span> <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">oSTEM 4th National Conference</span> <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;">Atlanta, Georgia</span></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td colspan="2" style="padding: 0;border: 0;"><a class="eventLink" href="http://www.ostem.org/events-calendar" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 5% auto 0;padding: 2% 0;text-align: center;text-decoration: none;width: 40%;">View all events</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END EVENTS TABLE  --></td>
                    </tr>
                    <!-- END EVENTS SECTION  --><!-- START SPONSORS SECTION  -->
                    <tr style="padding: 0;border: 0;">
                        <td><!-- START SPONSORS TABLE  -->
                        <table style="border: 0;border-spacing: 0;width: 100%;padding: 45px;border-spacing: 10px 20px;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.godaddy.com/careers/interns"><img alt="godaddy" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/godaddy.png" style="width: 100%; max-width:170px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;">&nbsp;</td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.gene.com/careers/academic-programs"><img alt="genentech" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/genentech.png" style="width: 100%; max-width:170px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.google.com/about/jobs/students/"><img alt="google" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/google.png" style="width: 100%; max-width:170px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;">&nbsp;</td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://careers.gm.com/student-center.html"><img alt="General Motors" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/General_Motors.png" style="width: 100%; max-width:140px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="https://www.cia.gov/careers/student-opportunities"><img alt="CIA" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/CIA.png" style="width: 100%; max-width:150px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.basf.com/group/careers/students"><img alt="BASF" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/BASF.png" style="width: 100%; max-width:170px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.danaheru.com/undergrad-internships.php"><img alt="Danaher" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Danaher.png" style="width: 100%; max-width:170px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.alcoa.com/global/en/careers/campus/default.asp"><img alt="alcoa" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/alcoa.png" style="width: 100%; max-width:99px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.lockheedmartinjobs.com/college-students.asp"><img alt="Lockheed_Martin" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Lockheed_Martin.png" style="width: 100%; max-width:210px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://careers.gm.com/student-center.html"><img alt="Chevrolet" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Chevrolet.png" style="width: 100%; max-width:165px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.ge.com/careers/culture/university-students"><img alt="ge" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/ge.png" style="width: 100%; max-width:82px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;">&nbsp;</td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://jobs.raytheon.com/career-paths/campus-recruiting"><img alt="Raytheon" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/raytheon.png" style="width: 100%; max-width:95px;" /></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END SPONSORS TABLE  --></td>
                    </tr>
                    <!-- END SPONSORS SECTION  -->
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>




