<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!doctype html>
<html>
<head><meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <title></title>
    <style type="text/css">@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
            @media only screen and (max-width: 520px){
                .messagePerson{ display: none; }
                .messageQuote{ display: none; }
                .messageHeader{ padding-left: 0px; }
                .messageText{ padding-left: 0px; }
            }
    </style>
</head>
<body  bgcolor="#eaeaea" style="font: 0.625em/1.4 Lato, Helvetica, Arial, sans-serif;margin: 0;padding: 0; background-color:#eaeaea;">
<div style="width: 100%;min-width: 500px;margin: 0 auto;">
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" summary="Leading Information. Newsletter, Volume 4, Issue 2.">
    <tbody>
        <tr style="padding: 0;border: 0;">
            <td style="padding: 0;border: 0;">
            <table id="innerTable" style="border: 0;border-spacing: 0;width: 100%;background: #fff;border: 1px solid #ccc;margin: 5% auto;width: 80%;min-width: 450px;">
                <tbody>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="header" style="border: 0;border-spacing: 0;width: 100%;color: #fff;background: #2480ba url(https://raw.githubusercontent.com/thalida/ostem/master/template/header-blue.png) no-repeat center center;text-align: center;padding: 45px;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><img alt="oSTEM Logo" class="ostemLogo" src="https://raw.githubusercontent.com/thalida/ostem/master/template/ostemLogoWhite.png" style="max-width: 100%;" /></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;">
                                    <div class="title" style="font-size: 3.0em;margin-top: 10%;margin-bottom: 2%;">Executive Newsletter</div>

                                    <div class="volume" style="font-size: 1.4em;font-weight: 700;text-transform: uppercase;opacity: 0.5;">October 2014:&nbsp;&nbsp;Volume 4&nbsp;&nbsp;|&nbsp;&nbsp;Issue 3</div>
                                    <a class="ostemLink" href="http://ostem.org" style="background: #0a081a;border-radius: 50px;color: #fff;display: block;font-size: 1.8em;margin: 9% auto 6%;padding: 4% 0;text-decoration: none;width: 45%;">Visit ostem.org</a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><a class="socialLink" href="https://www.facebook.com/ostem.incorporated" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="facebook" src="https://raw.githubusercontent.com/thalida/ostem/master/template/facebook.png" /></a> <a class="socialLink" href="#" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="twitter" src="https://raw.githubusercontent.com/thalida/ostem/master/template/twitter.png" /></a> <a class="socialLink" href="http://www.linkedin.com/groups?home=&amp;gid=3355374" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="linkedin" src="https://raw.githubusercontent.com/thalida/ostem/master/template/linkedin.png" /></a> <a class="socialLink" href="https://plus.google.com/u/0/communities/110273314235644325568" style="padding: 0 1.5%;margin: 0 1.5%;"><img alt="googleplus" src="https://raw.githubusercontent.com/thalida/ostem/master/template/googleplus.png" /></a></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table style="border: 0;border-spacing: 0;width: 100%;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td colspan="3" id="border" style="padding: 0;border: 0;background: url(https://raw.githubusercontent.com/thalida/ostem/master/template/mailpattern.png) repeat;height: 25px;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="message" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 45px;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0; vertical-align:top;"><img class="messagePerson" src="https://raw.githubusercontent.com/thalida/ostem/master/template/Thalida-Noel.png" style="vertical-align: top;height: 100px;margin-right: 30px;width: 100px;" /></td>
                                    <td style="padding: 0;border: 0;"><span class="messageQuote" style="color: #e9e9e9;display: block;font: 700 8.0em ‘Times New Roman’, serif;height: 60px;letter-spacing: -2px;margin-top: -15px;">&ldquo;</span> <span class="messageHeader" style="color: #222222;font-size: 1.6em;font-weight: 700;padding-left: 7%;">Greetings {FIRST_NAME|members, alumni, mentors, and sponsors},</span>
                                    <p class="messageText" style="color: #222222;font-size: 1.6em;padding-left: 7%;">
                                    My name is Thalida, I'm a Front-end Developer and designer in NYC. Earlier this year oSTEM posted a position for an Outreach Intern; I'm pleased to announce that I was accepted and am now a part of the National Board.
                                    <br /><br />
                                    I started my journey with oSTEM in college, where I was the Vice-President of oSTEM@Capitol-College. I met many wonderful people along the way, and after I left college I wanted to continue to contribute to oSTEM... so here I am!
                                    <br /><br />
                                    I have big ideas of what I would like to accomplish in this role, and if any of you have any suggestions and/or ideas please do get in touch with me at: thalida.noel@ostem.org.
                                    <br /><br />
                                    I'm looking forward to seeing many of you in two weeks at the 4th National Conference!
                                    <br /><br />
                                    <span class="italics" style="font-style: italic;">Thalida Noel<br />
                                    Outreach Intern </span>
                                    </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="featured" style="border: 0;border-spacing: 0;width: 100%;background: #43ab3b;color: #fff;padding: 45px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredTitle" style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;">4th National Conference in 2 weeks!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredText" style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;">
                                        The 4th National Conference will be taking place in 2 weeks, and we’re all very excited to see many of you there! Conference registration has closed, and we’re pleased to announce that we’ve had 10 times the number of participants than the 2011 conference!
                                        <br /><br />
                                        But, while you revel in the excitement of it all, please remember to book your flights and hotels! On ostem.org we have information that will be very helpful for those of you who still need to finalize your travel plans.
                                    </td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"><a class="featuredLink" href="http://www.ostem.org/conference-2014" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Conference Info</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- BEGIN SECONDARY SECTION -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;"><!-- BEGIN SECONDARY TABLE -->
                        <table id="secondary" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 40px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0; vertical-align:top;width:50%;"><!-- BEGIN SECONDARY ITEM TABLE -->
                                    <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 45px;width: 90%;">
                                        <tbody>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">oSTEM goes to OUTC</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryText" style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;">oSTEM attended the Out for Undergraduate Technology Conferene (OUTC) at Twitter HQ in San Francisco this past weekend. Attended by 176 bright LGBTQ Computer Science students from across the country, attendees learned about the latest technologies, tools and networked with the world's leading technology companies. Adam Stoffel and AP Fritts talked with students throughout the day about oSTEM and the benefits of joining their local chapter or the opportunity to start their own!</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td style="padding: 0;border: 0;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--END SECONDARY ITEM TABLE --></td>
                                    <td style="padding: 0;border: 0; vertical-align:top;width:50%;"><!-- BEGIN SECONDARY ITEM TABLE -->
                                    <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 45px;width: 90%;">
                                        <tbody>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">New Scientist Ad</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td class="secondaryText" style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;">oSTEM is pleased to announce, that we have a full page spread in the Oct. 18th issue of the New Scientist. This is a big step for our organization, and it's really amazing to see oSTEM featured in such a publication!</td>
                                            </tr>
                                            <tr style="padding: 0;border: 0;">
                                                <td style="padding: 0;border: 0;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--END SECONDARY ITEM TABLE --></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END SECONDARY TABLE --></td>
                    </tr>
                    <!-- END SECONDARY SECTION -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="featured2" style="border: 0;border-spacing: 0;width: 100%;background: #3bab8a;color: #fff;padding: 45px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredTitle" style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;">Calling all oSTEM students, alumni, and mentors!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredText" style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;">A number of volunteer positions will be announced at the national conference and posted online shortly thereafter. If you are interested in nominating yourself or your peers, then be on the lookout for the position announcements. If you would like to be considered for any position, simply email us a cover letter and your resume or CV at any time (serve@ostem.org).</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;">
                        <table id="featured2" style="border: 0;border-spacing: 0;width: 100%;background: #3ba2ab;color: #fff;padding: 45px;text-align: center;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredTitle" style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;">Thank you!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="featuredText" style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;">500 people have registered to attend the 4th National Conference in two weeks, this is ten times the number of participants we had in 2011. We are very proud of this achievement, and are grateful for the help from our members, alumni, sponsors, and mentors that helped the organization grow to where we are today. Thank you for your love, support, and commitment!</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;"></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- BEGIN EVENTS SECTION  -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding: 0;border: 0;"><!-- BEGIN EVENTS TABLE  -->
                        <table id="events" style="border: 0;border-spacing: 0;width: 100%;border-spacing: 30px 0;border-collapse: separate;background: #1b84ce;color: #fff;padding: 5% 3%;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td class="eventsTitle" colspan="2" style="padding: 0;border: 0;font-size: 1.6em;font-weight: 700;padding-bottom: 3%;text-align: center;text-transform: uppercase;">Upcoming Events</td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="eventItem" style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;"><span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Nov. 7 - 9</span> <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">oSTEM 4th National Conference</span> <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;">Atlanta, Georgia</span></td>
                                    <td class="eventItem" style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;"><span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Nov. 20</span> <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">National Transgender Day of Remembrance</span> <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;">Nationwide</span></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td class="eventItem" style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;"><span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Dec. 4 - 7</span> <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">LGBT Leaders 2014: International Leadership Conference</span> <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;"></span></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td colspan="2" style="padding: 0;border: 0;"><a class="eventLink" href="http://www.ostem.org/events-calendar" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 5% auto 0;padding: 2% 0;text-align: center;text-decoration: none;width: 40%;">View all events</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END EVENTS TABLE  --></td>
                    </tr>
                    <!-- END EVENTS SECTION  --><!-- START SPONSORS SECTION  -->
                    <tr style="padding: 0;border: 0;">
                        <td><!-- START SPONSORS TABLE  -->
                        <table style="border: 0;border-spacing: 0;width: 100%;padding: 45px;border-spacing: 10px 20px;">
                            <tbody>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.google.com/about/jobs/students/"><img alt="google" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/google.png" style="width: 100%; max-width:170px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;">&nbsp;</td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.danaheru.com/undergrad-internships.php"><img alt="Danaher" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Danaher.png" style="width: 100%; max-width:170px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.godaddy.com/careers/interns"><img alt="godaddy" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/godaddy.png" style="width: 100%; max-width:170px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;">&nbsp;</td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.gene.com/careers/academic-programs"><img alt="genentech" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/genentech.png" style="width: 100%; max-width:170px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.alcoa.com/global/en/careers/campus/default.asp"><img alt="alcoa" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/alcoa.png" style="width: 100%; max-width:99px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="https://www.cia.gov/careers/student-opportunities"><img alt="CIA" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/CIA.png" style="width: 100%; max-width:150px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.rockwellautomation.com/rockwellautomation/about-us/careers/overview.page?"><img alt="Rockwell Automation" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/RockwellAutomation.png" style="width: 100%; max-width:280px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.basf.com/group/careers/students"><img alt="BASF" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/BASF.png" style="width: 100%; max-width:170px;" /></a></td>
                                </tr>
                                <tr style="padding: 0;border: 0;">
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://jobs.raytheon.com/career-paths/campus-recruiting"><img alt="Raytheon" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/raytheon.png" style="width: 100%; max-width:95px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.lockheedmartinjobs.com/college-students.asp"><img alt="Lockheed_Martin" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Lockheed_Martin.png" style="width: 100%; max-width:210px;" /></a></td>
                                    <td style="padding: 0;border: 0;text-align:center;"><a href="http://www.newscientist.com/"><img alt="New Scientist" class="sponsor" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/ns_logo.jpg" style="width: 100%; max-width:210px;" /></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END SPONSORS TABLE  --></td>
                    </tr>
                    <!-- END SPONSORS SECTION  -->
                    <tr style="padding: 0;border: 0;">
                        <td style="padding:0 0 20px 0;border:0;text-align:center;font-size:16px;">Capital One, Goldman Sachs, Turner Construction, Intelligence Community, Human Rights Campaign</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>




