<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title></title>
        <style>
            @import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
            @media only screen and (max-width: 520px){
                .messagePerson{ display: none; }
                .messageQuote{ display: none; }
                .messageHeader{ padding-left: 0px; }
                .messageText{ padding-left: 0px; }
            }
        </style>
    <body style="font: 0.625em/1.4 Lato, Helvetica, Arial, sans-serif;margin: 0;padding: 0;">
        <table id="containerTable" style="border: 0;border-spacing: 0;width: 100%;background: #eaeaea;display: block;position: absolute;top: 0;left: 0;overflow: hidden;width: 100%;min-width: 210px;">
            <tr style="padding: 0;border: 0;">
                <td style="padding: 0;border: 0;">



                    <table id="innerTable" style="border: 0;border-spacing: 0;width: 100%;background: #fff;border: 1px solid #ccc;margin: 5% auto;width: 80%;min-width: 800px;">
                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                <table id="header" style="border: 0;border-spacing: 0;width: 100%;color: #fff;background: #3a2d94 url(https://raw.githubusercontent.com/thalida/ostem/master/template/header-purple.png) no-repeat bottom center;text-align: center;padding: 8%;">
                                    <tr style="padding: 0;border: 0;">
                                         <td style="padding: 0;border: 0;"><img class="ostemLogo" style="max-width: 100%;" src="https://raw.githubusercontent.com/thalida/ostem/master/template/ostemLogoWhite.png" alt="oSTEM Logo" /></td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <div class="title" style="font-size: 3.0em;margin-top: 10%;margin-bottom: 2%;">Executive Newsletter</div>
                                            <div class="volume" style="font-size: 1.4em;font-weight: 700;text-transform: uppercase;opacity: 0.5;">September 2014:&nbsp;&nbsp;Volume 4&nbsp;&nbsp;|&nbsp;&nbsp;Issue 1</div>
                                            <a class="ostemLink" href="http://ostem.org" style="background: #0a081a;border-radius: 50px;color: #fff;display: block;font-size: 1.8em;margin: 9% auto 6%;padding: 4% 0;text-decoration: none;width: 45%;">Visit ostem.org</a>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <a class="socialLink" href="https://www.facebook.com/ostem.incorporated" style="padding: 0 1.5%;margin: 0 1.5%;"><img src="https://raw.githubusercontent.com/thalida/ostem/master/template/facebook.png" alt="facebook" /></a>
                                            <a class="socialLink" href="#" style="padding: 0 1.5%;margin: 0 1.5%;"><img src="https://raw.githubusercontent.com/thalida/ostem/master/template/twitter.png" alt="twitter" /></a>
                                            <a class="socialLink" href="http://www.linkedin.com/groups?home=&gid=3355374" style="padding: 0 1.5%;margin: 0 1.5%;"><img src="https://raw.githubusercontent.com/thalida/ostem/master/template/linkedin.png" alt="linkedin" /></a>
                                            <a class="socialLink" href="https://plus.google.com/u/0/communities/110273314235644325568" style="padding: 0 1.5%;margin: 0 1.5%;"><img src="https://raw.githubusercontent.com/thalida/ostem/master/template/googleplus.png" alt="googleplus" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                <table style="border: 0;border-spacing: 0;width: 100%;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;background: url(https://raw.githubusercontent.com/thalida/ostem/master/template/mailpattern.png) repeat;height: 25px;" colspan="3" id="border"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                
                                <table id="message" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 8%;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0; vertical-align:top;">
                                            <img class="messagePerson" src="https://raw.githubusercontent.com/thalida/ostem/master/template/Denise-Connor.png" style="vertical-align: top;height: 100px;margin-right: 30px;width: 100px;" />
                                        </td>
                                        <td style="padding: 0;border: 0;">
                                            <span class="messageQuote" style="color: #e9e9e9;display: block;font: 700 8.0em "Times New Roman", serif;height: 60px;letter-spacing: -2px;margin-top: -15px;">&ldquo;</span>
                                            <span class="messageHeader" style="color: #222222;font-size: 1.6em;font-weight: 700;padding-left: 7%;">Greetings {!Contact.Name},</span>
                                            <p class="messageText" style="color: #222222;font-size: 1.6em;padding-left: 7%;">
                                                By day I am a research chemist at DuPont, and by night I am the VP of Projects and Programs for oSTEM.
                                                <br /><br />
                                                My primary focus in the last few months has been as program chair for the Joint oSTEM 4th National Conference/NOGLSTP's Out to Innovate 2014, to be held Nov. 7-9 in Atlanta. We're putting together a great slate of workshops and adding a poster session, identity-group caucuses, and much more. 
                                                <br /><br />
                                                Looking forward, the agenda is to consolidate chapter resources for speakers, events, and working with K-12 schools; convene a queer/trans PoC advisory group; and increase student involvement in the national organization.
                                                <br /><br />
                                                See you in Atlanta!
                                                <br /><br />
                                                <span class="italics" style="font-style: italic;">
                                                Denise Conner
                                                <br />
                                                Vice President for Projects &amp; Programs
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                
                                
                            </td>
                        </tr>
                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                
                                <table id="featured" style="border: 0;border-spacing: 0;width: 100%;background: #43ab3b;color: #fff;padding: 8%;text-align: center;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;" class="featuredTitle">Conference Registration Now Open!</td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;" class="featuredText">
                                            All of us at oSTEM Incorporated are proud to announce that oSTEM’s 4th National Annual Conference is a joint conference, hosted with the National Organization of Gay and Lesbian Scientists and Technical Professionals (NOGLSTP), and their Out to Innovate 2014 Summit.  
                                            <br /><br />                                                
                                            Registration is now open for our 2014 joint conference, being held in Atlanta, Georgia on November 7-9. Register soon!    
                                            This year’s summit will include presentations from many notable champions of and examples of LGBT diversity in STEM.
                                            <br /><br />     
                                            Attending sponsors for oSTEM include Danaher, Genentech, GoDaddy, Google, GM, Alcoa, Raytheon, Lockheed Martin, Central Intelligence Agency, BASF, Capitol One, and Goldman Sachs. Other sponsors include Battelle Memorial Institute, The Clorox Company, Coca-Cola, Johnson &amp; Johnson, and Savannah River Nuclear Solutions.
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;"><a href="http://www.ostem.org/conference-2014" class="featuredLink" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Learn more!</a><br />

<a href="registration.ostem.org" class="featuredLink" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Registration</a><br />

<a href="www.diversityinnovates.com" class="featuredLink" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">diversityinnovates.com</a></td>
                                    </tr>
                                </table>
                                
                                
                            </td>
                        </tr>
                        <!-- BEGIN SECONDARY SECTION -->
                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                <!-- BEGIN SECONDARY TABLE -->
                                <table id="secondary" style="border: 0;border-spacing: 0;width: 100%;background: #fff;padding: 5%;text-align: center;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0; vertical-align:top;">
                                            <!-- BEGIN SECONDARY ITEM TABLE -->
                                            <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 8%;width: 90%;">
                                                <tr style="padding: 0;border: 0;">
                                                    <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">oSTEM Visits the US Air Force Academy</td>
                                                </tr>
                                                <tr style="padding: 0;border: 0;">
                                                    <td style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;" class="secondaryText">
                                                        oSTEM recently visited the US Air Force Academy in Colorado Springs to tour the campus, meet with LGBT cadets, and learn about the Academy’s mission. With the recent repeal of the Don’t Ask, Don’t Tell policy, LGBT individuals serving in our armed forces are now free to identify openly among their colleagues...
                                                    </td>
                                                </tr>
                                                <tr style="padding: 0;border: 0;">
                                                    <td style="padding: 0;border: 0;">
                                                        <a class="secondaryLink" href="https://www.ostem.org/articles/2014/08/ostem-visits-us-air-force-academy" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">Continue Reading</a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!--END SECONDARY ITEM TABLE -->
                                        </td>
                                        <td style="padding: 0;border: 0; vertical-align:top;">
                                            <!-- BEGIN SECONDARY ITEM TABLE -->
                                            <table class="secondaryItem" style="border: 0;border-spacing: 0;width: 100%;background: #f5f5f5;margin: 0 auto;padding: 8%;width: 90%;">
                                                <tr style="padding: 0;border: 0;">
                                                    <td class="secondaryTitle" style="border: 0;padding: 0;border-bottom: 3px solid #e9e9e9;color: #444444;font-size: 1.6em; font-weight: 700;padding-bottom: 7%;text-transform: uppercase;">Funding to Attend the 2014 National Meeting</td>
                                                </tr>
                                                <tr style="padding: 0;border: 0;">
                                                    <td style="padding: 0;border: 0;color: #444444;font-size: 1.4em;text-align: left;padding: 7% 0;" class="secondaryText">
                                                        oSTEM and NOGLSTP are pumped to offer travel funds and scholarships to the 2014 National Meeting + OUT to Innovate. NOGLSTP Scholarships must be submitted before September 15th. oSTEM has limited funds for travel and will begin dispersing funds in early September. The 2014 National Meeting page provides additional information on budgeting and planning your trip, as well as the latest in travel fund and scholarship information.
                                                    </td>
                                                </tr>
                                                <tr style="padding: 0;border: 0;">
                                                    <td style="padding: 0;border: 0;">
                                                        <a class="secondaryLink" href="http://goo.gl/csZhNu" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">NOGLSTP Scholarship Form</a>
                                                        <a class="secondaryLink" href="http://goo.gl/yaVgK" style="color: #0078ff;display: block;font-size: 1.4em;font-weight: 700;text-align: center;text-decoration: none;">oSTEM Travel Fund Form</a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!--END SECONDARY ITEM TABLE -->
                                        </td>
                                    </tr>
                                </table>
                                <!-- END SECONDARY TABLE -->
                            </td>
                        </tr>
                        <!-- END SECONDARY SECTION -->

                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                
                                <table id="featured" style="border: 0;border-spacing: 0;width: 100%;background: #43ab3b;color: #fff;padding: 8%;text-align: center;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;" class="featuredTitle">Submit Posters Now for the National Conference</td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;" class="featuredText">
                                            Want to present your work at the 2014 National Conference? Submit your poster abstract by Sept. 5 to be included in the poster session for students and postdocs. Posters on academic, technical, and chapter leadership topics are welcome. Eight of the poster abstracts will be selected for 10-minute flash presentations of their work at the conference, and the best posters will be recognized at the conference banquet Saturday. Get yours in today!
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;"><a href="http://ostem.org/2014rfp" class="featuredLink" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Submit a Poster!</a></td>
                                    </tr>
                                </table>
                                
                                
                            </td>
                        </tr>

                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                
                                <table id="featured" style="border: 0;border-spacing: 0;width: 100%;background: #43ab3b;color: #fff;padding: 8%;text-align: center;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 2.4em; font-weight: 700;text-transform: uppercase;" class="featuredTitle">Facebook Group for the oSTEM Trans Working Group</td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 1.5em; font-weight: 700;line-height: 1.2;padding: 7% 0;" class="featuredText">
                                            Based on discussions from the 2013 National Conference, oSTEM now has a Facebook group dedicated to its trans members! It will allow you to better connect with one another, and with the TWG leadership.
                                            <br /><br />
                                            In order to foster a safer environment, we ask that only trans people join. As we are just starting the group, it will be a Closed group, meaning that if you are a member of the group your name will be visible, but your posts will not. This will make it easier to find as we build the group. After this year’s National Conference we’ll have a discussion on whether a Closed group continues to meet your needs, or if we should change it to a Secret group where no one can see your name on the group.
                                            <br /><br />
                                            We’re looking forward to getting to know you better!
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;"><a href="https://www.facebook.com/groups/ostem.twg/" class="featuredLink" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 0 auto;padding: 2% 0;text-decoration: none;width: 40%;">Visit Group</a></td>
                                    </tr>
                                </table>
                                
                                
                            </td>
                        </tr>

                        <!-- BEGIN EVENTS SECTION  -->
                        <tr style="padding: 0;border: 0;">
                            <td style="padding: 0;border: 0;">
                                <!-- BEGIN EVENTS TABLE  -->
                                <table id="events" style="border: 0;border-spacing: 0;width: 100%;border-spacing: 30px 0;border-collapse: separate;background: #1b84ce;color: #fff;padding: 5% 3%;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;font-size: 1.6em;font-weight: 700;padding-bottom: 3%;text-align: center;text-transform: uppercase;" class="eventsTitle" colspan="2">Upcoming Events</td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;" class="eventItem">
                                            <span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Sept. 5</span>
                                            <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">Poster Session Deadline</span>
                                            <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;"></span>
                                        </td>
                                        <td style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;" class="eventItem">
                                            <span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Sept. 15</span>
                                            <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">NOGLSTP Scholarship Deadline</span>
                                            <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;"></span>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;border-bottom: 3px solid #1978bc;padding: 3%;width: 50%;" class="eventItem">
                                            <span class="eventTime" style="display: block;font-size: 1.3em;font-weight: 400;">Nov. 7 - 9</span>
                                            <span class="eventName" style="display: block;font-size: 1.6em;font-weight: 700;">oSTEM 4th National Conference</span>
                                            <span class="eventLocation" style="display: block;font-size: 1.4em;font-weight: 400;font-style: italic;">Atlanta, Georgia</span>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;" colspan="2">
                                            <a class="eventLink" href="#" style="background: rgba(255,255,255,0.2);border: 2px solid #fff;color: #fff;display: block;font-size: 1.6em;font-weight: 700;margin: 5% auto 0;padding: 2% 0;text-align: center;text-decoration: none;width: 40%;">View all events</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- END EVENTS TABLE  -->
                            </td>
                        </tr>
                        <!-- END EVENTS SECTION  -->
                        <!-- START SPONSORS SECTION  -->
                        <tr style="padding: 0;border: 0;">
                            <td>
                                <!-- START SPONSORS TABLE  -->
                                <table style="border: 0;border-spacing: 0;width: 100%;padding: 8%;border-spacing: 10px 20px;">
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:170px;" alt="godaddy" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/godaddy.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;"></td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:170px;" alt="genentech" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/genentech.png" /></a>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:170px;" alt="google" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/google.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;"></td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:140px;" alt="General Motors" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/General_Motors.png" /></a>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:150px;" alt="CIA" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/CIA.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:170px;" alt="BASF" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/BASF.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:170px;" alt="Danaher" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Danaher.png" /></a>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:99px;" alt="alcoa" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/alcoa.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:210px;" alt="Lockheed_Martin" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Lockheed_Martin.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:165px;" alt="Chevrolet" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/Chevrolet.png" /></a>
                                        </td>
                                    </tr>
                                    <tr style="padding: 0;border: 0;">
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:82px;" alt="ge" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/ge.png" /></a>
                                        </td>
                                        <td style="padding: 0;border: 0;"></td>
                                        <td style="padding: 0;border: 0;">
                                            <a href=""><img class="sponsor" style="width: 100%; max-width:95px;" alt="Raytheon" src="https://raw.githubusercontent.com/thalida/ostem/master/template/sponsors/raytheon.png" /></a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- END SPONSORS TABLE  -->
                            </td>
                        </tr>
                        <!-- END SPONSORS SECTION  -->

                    </table>
                    <!-- END MAIN TABLE -->



                </td>
            </tr>
        </table>
        <!-- END OUTER TABLE -->
    </body>
</html>